@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

.nanumgothiccoding * {
    font-family: 'Nanum Gothic Coding', monospace;
}

body {
    background-image: url('20230511_094105.jpg');
    color: white;
    font-family: 'Nanum Gothic Coding', monospace;
    color:skyblue;
    background-color: skyblue;
    
}

h1 {
    color:skyblue;
    text-align: center;
    margin: 10px;
    padding: 2cm;
}

input{
    margin:0 auto ;
    background-color:#00ff0000;
    justify-content: center;
    display: block;
    font-size: 20px;
    color: white;
}
p{
    color: skyblue;
    text-decoration: none;
}
h2{
   display: none;
}
a{
    text-decoration: none;
}
